@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body{
    background-color: #efefef;
}
#hero{
    background-image: url(../img/anime.jpg);
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}
.gradient{
    background: -webkit-linear-gradient(left top, #5f2c82, #49a09d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #49a09d, #5f2c82); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #49a09d, #5f2c82); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #5f2c82, #49a09d); /* Standard syntax */
}
.vertical-center {
  height:75%;
  width:100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 45%;
}
.quote, .quotelink{
    color: #27ae60;
}
s{
    background-color: #333;
    color: #333;
    text-decoration: none;
}
s:hover{
    color: #fff;
}
ul {
    padding:0 0 0 0;
    margin:0 0 40px 0;
}
ul li {
    list-style:none;
    margin-bottom:10px;
}
ul li img {
    cursor: pointer;
}
.modal-body {
    padding:5px !important;
}
.modal-content {
    border-radius:0;
}
.modal-dialog img {
    text-align:center;
    margin:0 auto;
}
.controls{
    width:50px;
    display:block;
    font-size:11px;
    padding-top:8px;
    font-weight:bold;
}
.next {
    float:right;
    text-align:right;
}
.text {
    font-family: 'Bree Serif';
    color:#666;
    font-size:11px;
    margin-bottom:10px;
    padding:12px;
    background:#fff;
}
/*override modal for demo only*/
.modal-dialog {
    max-width:500px;
}
@media screen and (min-width: 768px){
    .modal-dialog {
        width:500px;
    }
}
@media screen and (max-width: 380px){
    .col-xxs-12 {
        width:100%;
    }
    .col-xxs-12 img {
        width:100%;
    }
}