body{padding-top:100px;background-color:#333;background-attachment:fixed;background-image:url("/img/bg.jpg");background-size:cover;border-radius:10px}img{border-radius:10px}.cropArea{background:#E4E4E4;overflow:hidden;height:350px}#loading-bar .bar{background:#dc143c;height:3px}#loading-bar-spinner .spinner-icon{border-top-color:#dc143c;border-left-color:#dc143c}#tagTitle{color:#fff}a{text-decoration:none !important;color:#fff}a:hover,a:focus{color:#dc143c}.navbar-default{background-color:rgba(34,34,34,0.75);border:none}.navbar-default .navbar-brand{color:#fff;font-size:24px;margin-top:7px}.btn{border-radius:10px}.btn.btn-board{background-color:rgba(68,68,68,0.75);border:none}.btn.post-button{background-color:#dc143c;color:#fff}.btn.post-button:hover{background-color:rgba(68,68,68,0.75);color:#fff}input,textarea{border-radius:10px !important}.modal-content{border-radius:10px}.panel{border-radius:10px;background-color:transparent;border:none;color:#fff}.panel.lone .panel-body{border-radius:0px 0px 10px 10px}.panel.panel-index{display:block}.panel.panel-index img{margin:auto;max-height:150px}.panel.panel-index .panel-body{height:200px;border-radius:0px 0px 10px 10px}.panel .panel-body{background-color:rgba(68,68,68,0.75)}.panel .panel-body .list-title{padding:5px 10px;border-left:2px solid #dc143c;background-color:rgba(34,34,34,0.75)}.panel .panel-body #nsfw .list-title{border-left:2px solid #27ae60}.panel .panel-body #nsfw .tags li:before{color:#27ae60}.panel .panel-body .tags{border:1px solid rgba(34,34,34,0.75)}.panel .panel-body .tags li{display:block;padding:5px}.panel .panel-body .tags li:before{content:"\e080";font-family:'Glyphicons Halflings';font-size:9px;position:relative;margin-right:10px;color:#dc143c}.panel .panel-heading{border-radius:10px 10px 0px 0px;background-color:rgba(34,34,34,0.75);border:none}.panel .panel-heading a{text-decoration:underline;color:#1694fd}.panel .panel-heading a:hover{color:#9206fd}.panel .panel-heading h3{color:#fff}.panel .panel-heading .label{background-color:#dc143c;border-radius:10px;margin:0 5px}.panel .panel-footer{background-color:rgba(34,34,34,0.75);border:none;border-radius:0px 0px 10px 10px}.panel .panel-footer li{border-radius:10px;border:none;margin:5px;padding:0}.panel .panel-footer li .panel-body{border-radius:0px 0px 10px 10px}.panel .image-thumb{max-height:125px;max-width:125px;width:auto;height:auto}.panel .image-thumb-OP{max-height:250px;max-width:250px;width:auto;height:auto}.panel .image-md{width:300px}.panel .image-sm{width:150px}.panel .quote{color:#27ae60}.panel .quotelink,.panel .deadlink{color:#dc143c}.panel .deadlink{text-decoration:line-through;opacity:0.6}.id{font-size:11px;background-color:#333 !important;color:#fff}footer{margin-top:20px}.navbar-default .navbar-nav>li>a{color:#fff !important}.navbar-default .navbar-nav>li>a:hover{color:#dc143c !important}@-webkit-keyframes progress-bar-stripes{from{background-position:0 0}to{background-position:40px 0}}@-moz-keyframes progress-bar-stripes{from{background-position:0 0}to{background-position:40px 0}}
/*# sourceMappingURL=styles.css.map */



@import url(//fonts.googleapis.com/css?family=Vibur);

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.logo b{
  font: 100 15vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
