body {
  padding-top: 100px;
  background-color: #333;
  background-attachment: fixed;
  background-image: url("https://www.dropbox.com/s/yr9pk0u393ecreh/maxresdefault.jpg?raw=1");
  background-size: cover;
  border-radius: 0px; }

#loading-bar .bar {
  background: #dc143c;
  height: 3px; }

#loading-bar-spinner .spinner-icon {
  border-top-color: #dc143c;
  border-left-color: #dc143c; }

a {
  text-decoration: none !important;
  color: #fff; }
  a:hover, a:focus {
    color: #dc143c; }

.navbar-default {
  background-color: rgba(34, 34, 34, 0.75);
  border: none; }
  .navbar-default .navbar-brand {
    color: #fff;
    font-size: 24px;
    margin-top: 7px; }

.btn {
  border-radius: 0px; }
  .btn.btn-board {
    background-color: rgba(68, 68, 68, 0.75);
    border: none; }

input, textarea {
  border-radius: 0px !important; }

.modal-content {
  border-radius: 0px; }

.panel {
  border-radius: 0px;
  background-color: transparent;
  border: none;
  color: #fff; }
  .panel.panel-index {
    display: block; }
    .panel.panel-index img {
      margin: auto;
      max-height: 150px; }
    .panel.panel-index .panel-body {
      height: 200px; }
  .panel .panel-body {
    background-color: rgba(68, 68, 68, 0.75); }
    .panel .panel-body .list-title {
      padding: 5px 10px;
      border-left: 2px solid #dc143c;
      background-color: rgba(34, 34, 34, 0.75); }
    .panel .panel-body #nsfw .list-title {
      border-left: 2px solid #27ae60; }
    .panel .panel-body #nsfw .tags li:before {
      color: #27ae60; }
    .panel .panel-body .tags {
      border: 1px solid rgba(34, 34, 34, 0.75); }
      .panel .panel-body .tags li {
        display: block;
        padding: 5px; }
        .panel .panel-body .tags li:before {
          content: "\e080";
          font-family: 'Glyphicons Halflings';
          font-size: 9px;
          position: relative;
          margin-right: 10px;
          color: #dc143c; }
  .panel .panel-heading {
    border-radius: 0px;
    background-color: rgba(34, 34, 34, 0.75);
    border: none; }
    .panel .panel-heading a {
      text-decoration: underline;
      color: #1694fd; }
    .panel .panel-heading a:hover {
      color: #9206fd; }
    .panel .panel-heading h3 {
      color: #fff; }
    .panel .panel-heading .label {
      background-color: #dc143c;
      border-radius: 0px;
      margin: 0 5px; }
  .panel .panel-footer {
    background-color: rgba(34, 34, 34, 0.75);
    border: none; }
    .panel .panel-footer li {
      border-radius: 0px;
      border: none;
      margin: 5px;
      padding: 0; }
  .panel .image-thumb {
    max-height: 125px;
    max-width: 125px;
    width: auto;
    height: auto; }
  .panel .image-thumb-OP {
    max-height: 250px;
    max-width: 250px;
    width: auto;
    height: auto; }
  .panel .image-md {
    width: 300px; }
  .panel .image-sm {
    width: 150px; }
  .panel .quote {
    color: #27ae60; }
  .panel .quotelink, .panel .deadlink {
    color: #dc143c; }
  .panel .deadlink {
    text-decoration: line-through;
    opacity: 0.6; }

.id {
  font-size: 11px;
  background-color: #333 !important;
  color: #fff; }

footer {
  margin-top: 20px; }
