body{
  padding-top: 100px;
  background-color: #DADFE1;
}
.tid{
  color: #DADFE1;
}
.navbar-right .dropdown-menu {
  right: auto;
}
.panel-heading{
  background-color: #BDC3C7 !important;
  .label{
    text-align: left;
    white-space: normal;
  }
}
.navbar, .navbar.navbar-default {
    background-color: #2C3E50 !important;
    color: #ECECEC !important;
}
.panel-OP{
  background-color: #2C3E50 !important;
  color: #ECECEC !important;
}
.panel-body{
  background-color: #DADFE1;
  img{
    margin:auto;
  }
}
.panel-footer{
  background-color: #DADFE1;
}
.panel-index{
  img{
    margin: auto;
    max-height: 150px;
  }

  .panel-body{
    height: 200px;
  }
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height:350px;
}

*, *:before, *:after {box-sizing:  border-box !important;}


.row {
}
.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    font-weight: 300;
}

.panel {
 display: inline-block;
 margin:  .5em;
 padding:  0;
 width:98%;
}
.panel-default{
  margin-bottom: 80px;
}

.list-group .list-group-item {
    padding: 0;
}

@-webkit-keyframes progress-bar-stripes {
 from  { background-position: 0 0; }
 to    { background-position: 40px 0; }
}
@-moz-keyframes progress-bar-stripes {
 from  { background-position: 0 0; }
 to    { background-position: 40px 0; }
}
