$primary-color: #dc143c;
//$primary-color: #1abc42;
$text-color: #fff;
$dark-bg: #333;
$panel-bg: rgba(68,68,68,0.75);
$panel-dark-bg: rgba(34,34,34,0.75);
$qoute-color: #27ae60;
$border-radius: 0px;
$img-bg: "https://www.dropbox.com/s/yr9pk0u393ecreh/maxresdefault.jpg?raw=1";

body{
  padding-top: 100px;
  background-color: $dark-bg;
  background-attachment: fixed;
  background-image: url($img-bg);
  background-size: cover;
  border-radius: $border-radius;
}
a {
  text-decoration: none !important;
  color: $text-color;
  &:hover, &:focus {
    color: $primary-color;
  }
}

.navbar-default{
    background-color: $panel-dark-bg;
    border: none;
    .navbar-brand{
        color: $text-color;
        font-size: 24px;
        margin-top: 7px;
    }
}
.btn{
  border-radius: $border-radius;
  &.btn-board{
    background-color:$panel-bg;
    border: none;
  }
}
input, textarea{
  border-radius: $border-radius !important;
}
.modal-content{
  border-radius: $border-radius;
}
.panel{
  border-radius: $border-radius;
  background-color: transparent;
  border: none;
  color: $text-color;
  &.panel-index{
    img{
      margin: auto;
      max-height: 150px;
    }

    .panel-body{
      height: 200px;
    }
    display: block;
  }
  .panel-body{
    background-color: $panel-bg;
    .list-title{
      padding: 5px 10px;
      border-left: 2px solid $primary-color;
      background-color: $panel-dark-bg;
    }
    #nsfw{
      .list-title{
        border-left: 2px solid $qoute-color;
      }
      .tags{
        li {
          &:before {
            color: $qoute-color;
          }
        }
      }
    }
    .tags{
      border: 1px solid $panel-dark-bg;
      li {
        display: block;
        padding: 5px;
        &:before {
          content: "\e080";
          font-family: 'Glyphicons Halflings';
          font-size: 9px;
          position: relative;
          margin-right: 10px;
          color: $primary-color;
        }
      }
    }
  }
  .panel-heading{
    border-radius: $border-radius;
    background-color: $panel-dark-bg;
    border: none;
    a{
      text-decoration: underline;
      color: #1694fd;
    }
    a:hover{
      color: #9206fd;
    }
    h3{
      color: $text-color;
    }
    .label{
      background-color: $primary-color;
      border-radius: $border-radius;
      margin: 0 5px;
    }
  }
  .panel-footer{
    background-color: $panel-dark-bg;
    border: none;
    li{
      border-radius: $border-radius;
      background-color: $panel-bg;
      border: none;
      margin: 5px;
    }
  }

  .image-thumb{
    max-height: 125px;
    max-width: 125px;
    width: auto;
    height: auto;
  }
  .image-thumb-OP{
    max-height: 250px;
    max-width: 250px;
    width: auto;
    height: auto;
  }
  .image-md{
    width: 300px;
  }
  .image-sm{
    width: 150px;
  }
  .quote{
    color: $qoute-color;
  }
  .quotelink, .deadlink{
    color: $primary-color;
  }
  .deadlink{
    text-decoration:line-through;
    opacity: 0.6;
  }
}
footer{
  margin-top: 20px;
}
