$primary-color: '#fee';
$bg-color: '#000';
@import url(//fonts.googleapis.com/css?family=Vibur);

body{
  color: #fff;
  background: $bg-color;
}
nav{
  &.navbar-default{
    background-color: transparent;
    border: none;
  }
}
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  b{
    font: 100 15vh "Vibur";
    color: $primary-color;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    b span{
      animation: blink linear infinite 2s;
    }
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@-webkit-keyframes progress-bar-stripes {
 from  { background-position: 0 0; }
 to    { background-position: 40px 0; }
}
@-moz-keyframes progress-bar-stripes {
 from  { background-position: 0 0; }
 to    { background-position: 40px 0; }
}
